# INVENTORIES

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [3]:
inventory = pd.read_csv('../../data/inventory.csv')

In [8]:
inventory.head(20)

    inventory_id  film_id  store_id          last_update
0              1        1         1  2006-02-15 05:09:17
1              2        1         1  2006-02-15 05:09:17
2              3        1         1  2006-02-15 05:09:17
3              4        1         1  2006-02-15 05:09:17
4              5        1         2  2006-02-15 05:09:17
5              6        1         2  2006-02-15 05:09:17
6              7        1         2  2006-02-15 05:09:17
7              8        1         2  2006-02-15 05:09:17
8              9        2         2  2006-02-15 05:09:17
9             10        2         2  2006-02-15 05:09:17
10            11        2         2  2006-02-15 05:09:17
11            12        3         2  2006-02-15 05:09:17
12            13        3         2  2006-02-15 05:09:17
13            14        3         2  2006-02-15 05:09:17
14            15        3         2  2006-02-15 05:09:17
15            16        4         1  2006-02-15 05:09:17
16            17        4         1  2006-02-15 05:09:17
17            18        4         1  2006-02-15 05:09:17
18            19        4         1  2006-02-15 05:09:17
19            20        4         2  2006-02-15 05:09:17

In [5]:
inventory_ori_shape = inventory.shape
inventory_ori_shape

(1000, 4)

In [6]:
inventory.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
print(inventory['store_id'].unique())

[1 2]

In [9]:
inventory['last_update'] = pd.to_datetime(inventory['last_update'], yearfirst = True)

In [10]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [11]:
inventory.to_csv('../../data/inventory_clean.csv', sep=',', index=False)