# ACTORS

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [3]:
actor = pd.read_csv('../../data/actor.csv')

In [4]:
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [5]:
actor_ori_shape = actor.shape
actor_ori_shape

(200, 4)

In [6]:
actor.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [9]:
df = pd.DataFrame(columns=['fullName']) 
df['fullName'] = actor["first_name"] + " " + actor["last_name"] # unimos los nombres y los apellidos de los actores para ver valores únicos en conjunto

In [15]:
print(df["fullName"].value_counts()) # vemos que tenemos 199 valores por lo que hay uno de ellos que está repetido ya que debería haber 200

SUSAN DAVIS             2
EWAN GOODING            1
DARYL CRAWFORD          1
GRETA KEITEL            1
JANE JACKMAN            1
                       ..
MICHELLE MCCONAUGHEY    1
ADAM GRANT              1
SEAN WILLIAMS           1
GARY PENN               1
THORA TEMPLE            1
Name: fullName, Length: 199, dtype: int64

In [33]:
indexNames = actor[(actor['last_name'] == 'DAVIS') & (actor['first_name'] == 'SUSAN')] # vemos en qué índices tenemos a Susan Davis
indexNames

     actor_id first_name last_name          last_update
100       101      SUSAN     DAVIS  2006-02-15 04:34:33
109       110      SUSAN     DAVIS  2006-02-15 04:34:33

In [34]:
actor.drop([109], axis=0, inplace=True)

In [35]:
actor.shape

(199, 4)

In [38]:
df = pd.DataFrame(columns=['fullName']) 
df['fullName'] = actor["first_name"] + " " + actor["last_name"]

In [39]:
print(df["fullName"].value_counts()) # vemos que ya no tenemos valores repetidos

PENELOPE GUINESS        1
KEVIN GARLAND           1
DARYL CRAWFORD          1
GRETA KEITEL            1
JANE JACKMAN            1
                       ..
MICHELLE MCCONAUGHEY    1
ADAM GRANT              1
SEAN WILLIAMS           1
GARY PENN               1
THORA TEMPLE            1
Name: fullName, Length: 199, dtype: int64

In [40]:
actor['last_update'] = pd.to_datetime(actor['last_update'], yearfirst = True)

In [41]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     199 non-null    int64
 1   first_name   199 non-null    object
 2   last_name    199 non-null    object
 3   last_update  199 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 7.8+ KB

In [42]:
actor.to_csv('../../data/actor_clean.csv', sep=',', index=False)