In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [3]:
category = pd.read_csv('../../data/category.csv')

In [4]:
category.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [5]:
category_ori_shape = category.shape
category_ori_shape

(16, 3)

In [7]:
category.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes