In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [3]:
inventory = pd.read_csv('../../data/inventory.csv')

In [4]:
inventory.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [5]:
inventory_ori_shape = inventory.shape
inventory_ori_shape

(1000, 4)

In [6]:
inventory.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
print(inventory['store_id'].unique())

[1 2]