In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [2]:
language = pd.read_csv('../../data/language.csv')

In [3]:
language.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [4]:
language_ori_shape = language.shape
language_ori_shape

(6, 3)

In [5]:
language.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes