# RENTALS

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings

In [2]:
rental = pd.read_csv('../../data/rental.csv')

In [3]:
rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [4]:
rental_ori_shape = rental.shape
rental_ori_shape

(1000, 7)

In [5]:
rental.info() # no tiene nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

In [6]:
print(rental['staff_id'].unique())

[1 2]

In [8]:
rental['rental_date'] = pd.to_datetime(rental['rental_date'], yearfirst = True)
rental['return_date'] = pd.to_datetime(rental['return_date'], yearfirst = True)
rental['last_update'] = pd.to_datetime(rental['last_update'], yearfirst = True)

In [9]:
rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(4)
memory usage: 54.8 KB

In [13]:
print(rental["rental_id"].value_counts()) # para ver si se pueden alquilar más de una película en un rental, vemos que hay 1000 valores, por lo que las películas se alquilan de una en una

1       1
673     1
660     1
661     1
662     1
       ..
340     1
341     1
342     1
343     1
1001    1
Name: rental_id, Length: 1000, dtype: int64

In [11]:
rental.to_csv('../../data/rental_clean.csv', sep=',', index=False)